.table-background {
  padding: 10px;
  margin: 20px;
  border-radius: 20px;

  box-sizing: border-box !important;
  background: lightgray;
}
.table-button {
  width: 100%;
  display: flex;
  justify-content: right;
}
.table-button button {
  background-color: white;
  border: none;
  border-radius: 5px 5px 0 0;
  padding: 5px 15px;
  margin-right: 15px;
}
table {
  border-radius: 10px;
  background: white;
  width: 100%;
  padding: 0 10px 10px 10px;
  text-align: left;
  border-spacing: 0px;
}
table th {
  padding: 10px 0px;
}
table tr {
  padding: 5px;
}
table hr {
  width: 100%;
}
table td {
  padding: 5px;
}
table tr:nth-child(even) {
  background: rgb(231, 231, 231);
}
table a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

table a svg {
  height: 15px;
  margin-left: 10px;
}
